modules = ["nodejs-20", "bash", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["fdupes", "gh", "sptk"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run Development Server"

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 12000
externalPort = 80

[[ports]]
localPort = 12001
externalPort = 3000

[[ports]]
localPort = 12002
externalPort = 3001
